body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

.navbar .nav > li {
    line-height:28px;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.app-title {
    margin-top: 0;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 200px;
}

.mobile-grid {
    border: 1px solid rgb(212,212,212);
    height: 200px;
}

.bar-chart rect.bar-chart-p {
    fill: #05EEFA;
}

.bar-chart rect.bar-chart-c {
    fill: transparent;
    stroke: red;
    stroke-width: 1px;
    width: 100%;
}

.bar-chart rect {
    fill: #05EEFA;
}

.bar-chart text {
    fill: black;
}

.chart-ctnr {
    height: 300px;
}

.gauge {
    margin-top: 40px;
}

.marker-label {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    border: 1px solid black;
    white-space: nowrap;
}

.widget-response {
    max-height: 340px;
    overflow:auto;
}

.overview-item {
    padding-top: 14px;
}

.overview-item .key {
    color: #888;
    letter-spacing: 0.1em;
    display: block;
    margin-bottom: 5px;
}

.overview-item .value {
    font-weight: bold;
    color: black;
    font-size: 140%;
    display: block;
}

.navbar .brand {
    background: url("../img/main_banner.png") no-repeat scroll 0 0;
    padding: 0;
    width: 241px;
    height: 48px;
    margin-left:-15px;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background: #11506d;
}

.navbar .navbar-inner {
    background: #11506d;
}

/* Fraud Styles */
.generate-tx-btn-wrap.span3, .generate-tx-desc.span9 {
    display:inline-block;
    vertical-align: middle;
    float:none;
}
.generate-tx-btn-wrap.span3 {
    text-align:center;
}
#alertDisplayBox {
    padding:10px;
    max-height:500px;
    overflow:auto;
}
article.alert-msg {
    padding: 10px 25px;
    border-radius: 4px;
    color: #000;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.6);
    margin-bottom:10px;
}
article.alert-msg.medium {
    background: #FF7000;
    box-shadow: inset 0 -2px 20px 0 #EEBC6B;
}
article.alert-msg.high {
    background: #FF2E22;
    box-shadow: inset 0 -2px 20px 0 #CE2319;
}
article.alert-msg.low {
    background: #FFF971;
    box-shadow: inset 0 -2px 20px 0 #EED306;
}
article.alert-msg h1{
    font-size:18px;
    margin:0;
}
