<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h2 class="app-title">
                Large Scale Monitoring and Analysis
                <a href="{{appURL}}" class="btn btn-primary" target="_blank" style="margin-left: 20px;">Open in Console</a>
            </h2>
        </div>
    </div>
    <div class="row-fluid">
        <p class="well span8">
            This demo application constantly monitors samples of CPU, RAM and HD utilization coming from a heterogeneous installed base of multiple devices located at multiple data centers and used by different customers. The application receives sensor events from each device including the device ID, device model, the OS version, other installed application versions, and customer attributes.  It tracks the status of the devices across every combination of dimensions of the events.. This allows both immediate analysis monitoring in real time of anomalies - e.g. notify me when average CPU utilization exceeds 70% for particular combination of model, customer and software. While influenced by real customers, because of security concerns, this demo uses randomly generated data.
        </p>
        <div class="span4">
            <span widgets-stat="" data="appId"></span>
        </div><!--/span-->
    </div>

    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Dimensions</li>
                    <form method="GET">
                        <li>
                        <label for="customer">Customer ID:</label>
                        <select name="customer" id="customer" style="width:200px;">
                            <option value="">ALL</option>
                            <% for (var i = 1; i <= 5; i++) { %>
                            <%- '<option value="$i">Customer $i</option>'.replace(/\$i/g, i) %>
                            <% } %>
                        </select>
                        </li>

                        <li>
                        <label for="">Product ID:</label>
                        <select name="product" id="product" style="width:200px;">
                            <option value="">ALL</option>
                            <% for (var i = 4; i <= 6; i++) { %>
                            <%- '<option value="$i">Product $i</option>'.replace(/\$i/g, i) %>
                            <% } %>
                        </select>
                        </li>

                        <li>
                        <label for="">Product OS:</label>
                        <select name="os" id="os" style="width:200px;">
                            <option value="">ALL</option>
                            <% for (var i = 10; i <= 12; i++) { %>
                            <%- '<option value="$i">OS $i</option>'.replace(/\$i/g, i) %>
                            <% } %>
                        </select>
                        </li>

                        <li>
                        <label for="software1">Software1 Ver:</label>
                        <select name="software1" id="software1" style="width:200px;">
                            <option value="">ALL</option>
                            <% for (var i = 10; i <= 12; i++) { %>
                            <%- '<option value="$i">Software1 Version $i</option>'.replace(/\$i/g, i) %>
                            <% } %>
                        </select>
                        </li>

                        <li>
                        <label for="software2">Software2 Ver:</label>
                        <select name="software2" id="software2" style="width:200px;">
                            <option value="">ALL</option>
                            <% for (var i = 12; i <= 14; i++) { %>
                            <%- '<option value="$i">Software2 Version $i</option>'.replace(/\$i/g, i) %>
                            <% } %>
                        </select>
                        </li>

                        <li>
                        <label for="software3">Software3 Ver:</label>
                        <select name="software3" id="software3" style="width:200px;">
                            <option value="">ALL</option>
                            <% for (var i = 4; i <= 6; i++) { %>
                            <%- '<option value="$i">Software3 Version $i</option>'.replace(/\$i/g, i) %>
                            <% } %>
                        </select>
                        </li>

                        <li>
                        <label for="lookback">Look Back:</label>
                        <div class="input-append">
                            <input type="text" name="lookback" id="lookback" class="input-small"/>
                            <span class="add-on">Hours</span>
                        </div>
                        </li>
                        <li>
                        <input type="submit" value="submit" class="btn btn-primary" />
                        </li>

                    </form>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <div class="row-fluid">
                <div class="span6">
                    <h2>CPU Usage (%)</h2>
                    <div class="chart-ctnr" id="cpuChart"></div>
                </div><!--/span-->
                <div class="span6">
                    <h2>RAM Usage (%)</h2>
                    <div class="chart-ctnr" id="ramChart" ></div>
                </div><!--/span-->
            </div><!--/row-->
            <div class="row-fluid">
                <div class="span6">
                    <h2>HDD Usage (%)</h2>
                    <div class="chart-ctnr" id="hddChart" ></div>
                </div><!--/span-->
            </div><!--/row-->
        </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; DataTorrent 2013</p>
    </footer>
</div><!--/.fluid-container-->