#pagecontent .widget.w-addAlertTemplateWidget,
#pagecontent .widget.w-addAlertWidget {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #DEDEDE;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner,
#pagecontent .widget.w-addAlertWidget .widget-inner {
  background-color: #fafafa;
  box-shadow: inset 0 1px 0 #cccccc, 1px 0 0 #cccccc, inset 1px 0 0 #cccccc, 0px 1px 0 #cccccc, 0 1px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 940px;
  margin: 5px auto;
  display: block;
  padding: 20px;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner #alert-form h2,
#pagecontent .widget.w-addAlertWidget .widget-inner #alert-form h2 {
  text-align: center;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column,
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .visual-column,
#pagecontent .widget.w-addAlertWidget .widget-inner .visual-column {
  width: 48%;
  padding: 5px 1%;
  display: inline-block;
  vertical-align: top;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .visual-column .dag-container,
#pagecontent .widget.w-addAlertWidget .widget-inner .visual-column .dag-container {
  min-height: 530px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: inset 0 0 1px #555;
  width: 100%;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .visual-column .dag-container.affix,
#pagecontent .widget.w-addAlertWidget .widget-inner .visual-column .dag-container.affix {
  top: 10px;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column {
  text-align: left;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column .property-type-span,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column .property-type-span {
  color: #999;
  font-size: 10px;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column select,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column select {
  width: 100%;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column input,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column input,
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column textarea,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column textarea {
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column .operator-class-definition,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column .operator-class-definition {
  border: 1px solid #CCC;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #DFDFDF;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner #alert_submit_btn,
#pagecontent .widget.w-addAlertWidget .widget-inner #alert_submit_btn {
  display: block;
  margin: 4px auto;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column-container,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column-container {
  text-align: center;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22%2FUsers%2Fandyperlitch%2Fdt%2Fmalhar%2Ffront%2Fcss%2Falerts.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AACA%2CYAAa%2CQAAO%3BAAA2B%2CYAAa%2CQAAO%3BEAE%2FD%2CaAAA%3BEACA%2CgBAAA%3BEACA%2CyBAAA%3B%3BAAJJ%2CYAAa%2CQAAO%2CyBAOhB%3BAAP2C%2CYAAa%2CQAAO%2CiBAO%2FD%3BEACI%2CyBAAA%3BEACA%2C0HAAA%3BEACA%2CWAAA%3BEACA%2CgBAAA%3BEACA%2CgBAAA%3BEACA%2CcAAA%3BEACA%2CaAAA%3B%3BAAdR%2CYAAa%2CQAAO%2CyBAOhB%2CcASI%2CYACI%3BAAjBmC%2CYAAa%2CQAAO%2CiBAO%2FD%2CcASI%2CYACI%3BEACI%2CkBAAA%3B%3BAAlBhB%2CYAAa%2CQAAO%2CyBAOhB%2CcAeI%3BAAtBuC%2CYAAa%2CQAAO%2CiBAO%2FD%2CcAeI%3BAAtBR%2CYAAa%2CQAAO%2CyBAOhB%2CcAeuB%3BAAtBoB%2CYAAa%2CQAAO%2CiBAO%2FD%2CcAeuB%3BEACf%2CUAAA%3BEACA%2CeAAA%3BEACA%2CqBAAA%3BEACA%2CmBAAA%3B%3BAA1BZ%2CYAAa%2CQAAO%2CyBAOhB%2CcAsBI%2CeACI%3BAA9BmC%2CYAAa%2CQAAO%2CiBAO%2FD%2CcAsBI%2CeACI%3BEACI%2CiBAAA%3BEACA%2CsBAAA%3BEACA%2CmBAAA%3BEACA%2C8BAAA%3BEACA%2CWAAA%3B%3BAACA%2CYApCH%2CQAAO%2CyBAOhB%2CcAsBI%2CeACI%2CeAMK%3BAAAD%2CYApC4C%2CQAAO%2CiBAO%2FD%2CcAsBI%2CeACI%2CeAMK%3BEACG%2CSAAA%3B%3BAArCpB%2CYAAa%2CQAAO%2CyBAOhB%2CcAmCI%3BAA1CuC%2CYAAa%2CQAAO%2CiBAO%2FD%2CcAmCI%3BEAEI%2CgBAAA%3B%3BAA5CZ%2CYAAa%2CQAAO%2CyBAOhB%2CcAmCI%2CkBAII%3BAA9CmC%2CYAAa%2CQAAO%2CiBAO%2FD%2CcAmCI%2CkBAII%3BEACI%2CWAAA%3BEACA%2CeAAA%3B%3BAAhDhB%2CYAAa%2CQAAO%2CyBAOhB%2CcAmCI%2CkBASI%3BAAnDmC%2CYAAa%2CQAAO%2CiBAO%2FD%2CcAmCI%2CkBASI%3BEACI%2CWAAA%3B%3BAApDhB%2CYAAa%2CQAAO%2CyBAOhB%2CcAmCI%2CkBAaI%3BAAvDmC%2CYAAa%2CQAAO%2CiBAO%2FD%2CcAmCI%2CkBAaI%3BAAvDZ%2CYAAa%2CQAAO%2CyBAOhB%2CcAmCI%2CkBAaW%3BAAvD4B%2CYAAa%2CQAAO%2CiBAO%2FD%2CcAmCI%2CkBAaW%3BEACH%2CUAAA%3BEACA%2CgBAAA%3BEACA%2CiBAAA%3B%3BAA1DhB%2CYAAa%2CQAAO%2CyBAOhB%2CcAmCI%2CkBAmBI%3BAA7DmC%2CYAAa%2CQAAO%2CiBAO%2FD%2CcAmCI%2CkBAmBI%3BEACI%2CsBAAA%3BEACA%2CYAAA%3BEACA%2CkBAAA%3BEACA%2CkBAAA%3BEACA%2CyBAAA%3B%3BAAlEhB%2CYAAa%2CQAAO%2CyBAOhB%2CcAgEI%3BAAvEuC%2CYAAa%2CQAAO%2CiBAO%2FD%2CcAgEI%3BEACI%2CcAAA%3BEACA%2CgBAAA%3B%3BAAzEZ%2CYAAa%2CQAAO%2CyBAOhB%2CcAqEI%3BAA5EuC%2CYAAa%2CQAAO%2CiBAO%2FD%2CcAqEI%3BEACI%2CkBAAA%22%7D */