#pagecontent {
  position: relative;
  overflow: hidden;
  background-color: #DEDEDE;
}
#pagecontent.with-dash-manager {
  box-shadow: inset 220px 0 0 #ffffff;
}
#pagecontent .widget {
  margin: 2px 0;
  box-shadow: inset 0 1px 0 #cccccc, 1px 0 0 #cccccc, inset 1px 0 0 #cccccc, 0px 1px 0 #cccccc, 0 1px 3px rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 100%;
  vertical-align: top;
  overflow: auto;
  position: relative;
  background-color: #fafafa;
  border-radius: 2px;
}
#pagecontent .widget.highlighted {
  box-shadow: 0 0 2px 1px #ff0000, inset 0 1px 0 #cccccc, 1px 0 0 #cccccc, inset 1px 0 0 #cccccc, 0px 1px 0 #cccccc, 0 1px 3px rgba(0, 0, 0, 0.2);
}
#pagecontent .widget .widget-header {
  border-radius: 2px 2px 0 0;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  padding: 0px 5px;
  line-height: 1;
  box-shadow: inset 0 1px 0 #cccccc, 1px 0 0 #cccccc, inset 1px 0 0 #cccccc, inset 0px -1px 0 #eaeaea;
  background-color: #F3F3F3;
  text-shadow: 0 0 0 #000, 0 0 0 #000;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 100;
}
#pagecontent .widget .widget-header input.wid {
  font: inherit;
  padding: 0 3px;
  margin: 0;
  width: 150px;
  text-shadow: inherit;
  letter-spacing: inherit;
}
#pagecontent .widget .widget-header .wid {
  margin-right: 20px;
}
#pagecontent .widget .widget-header .widget-type {
  color: #AAA;
  font-size: 10px;
}
#pagecontent .widget .widget-header .widget-name,
#pagecontent .widget .widget-header .widget-type {
  display: inline-block;
  vertical-align: middle;
}
#pagecontent .widget .widget-header .widget-ctrls {
  float: right;
}
#pagecontent .widget .widget-header .widget-ctrls i {
  cursor: pointer;
  opacity: 0.5;
}
#pagecontent .widget .widget-header .widget-ctrls i:hover {
  opacity: 1;
}
#pagecontent .widget .widget-content {
  padding: 5px;
}
#pagecontent .widget .widget-width-resize {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
}
#pagecontent .widget .widget-height-resize {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  cursor: ns-resize;
}
#pagecontent .dashboardMain {
  /*		box-shadow: -3px 3px 3px -3px rgba(0, 0, 0, 0.4);*/
  padding: 0 4px;
  background-color: #DEDEDE;
}
#pagecontent .dashboardTabs {
  padding-top: 2px;
  background-color: #DEDEDE;
  overflow: hidden;
  border-bottom: 1px solid #BBB;
  box-shadow: inset 0 -5px 0 #efefef, inset 0 -6px 0 #aaaaaa;
  padding-bottom: 5px;
}
#pagecontent .dashboardTabs ul {
  padding: 3px 3px 0;
  float: left;
}
#pagecontent .dashboardTabs li {
  margin-top: -3px;
  float: left;
  margin-left: 3px;
  background-color: #DEDEDE;
  border-radius: 4px 4px 0 0;
  border: 1px solid #AAA;
}
#pagecontent .dashboardTabs li label {
  font: inherit;
  padding: 4px 10px;
}
#pagecontent .dashboardTabs li input[type="radio"] {
  display: none;
}
#pagecontent .dashboardTabs li input[type="text"] {
  margin: 0;
}
#pagecontent .dashboardTabs li.selected {
  background: #EFEFEF;
  text-shadow: 0 2px 1px #FFF;
  border-bottom-color: #EFEFEF;
}
#pagecontent .dashboardTabs li i {
  opacity: 0.5;
}
#pagecontent .dashboardTabs li i:hover {
  opacity: 1;
}
#pagecontent .dashboardTabs li i.icon-remove,
#pagecontent .dashboardTabs li i.icon-trash {
  right: 4px;
  top: 3px;
}
#pagecontent .dashboardTabs .createDashWrapper {
  border: none;
  background: none;
  box-shadow: none;
  padding: 1px;
}
#pagecontent .dashboardTabs .createDash {
  background: #DEDEDE;
  border-color: #AAA;
  margin-top: 2px;
}
#pagecontent .dashboardTabs .createDash i {
  opacity: 0.5;
}
#pagecontent .dashboardTabs .createDash:hover i {
  opacity: 1;
}
#pagecontent .dashboardTabs li,
#pagecontent .dashboardTabs .createDash {
  box-shadow: inset 0 10px 23px -10px rgba(255, 255, 255, 0.6);
}
#pagecontent .dashboardMgr {
  /*		box-shadow: inset -3px 3px 3px -3px rgba(0, 0, 0, 0.4), inset 0 -100px 100px -21px #fafafa;*/
  /*		left:1px;*/
  /*		top: 3px;*/
  float: left;
  width: 219px;
  background: white;
  position: relative;
  z-index: 1;
}
#pagecontent .dashboardMgr .inner {
  padding: 5px 10px 10px 5px;
  min-height: 600px;
  /*			ul.widget-instances {*/
}
#pagecontent .dashboardMgr .inner .title {
  text-shadow: 0 0 0 #000, 0 0 0 #000;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 100;
  border-bottom: 1px solid #CCC;
  margin: 7px 0;
}
#pagecontent .dashboardMgr .inner ul {
  margin: 0 0 5px 0;
}
#pagecontent .dashboardMgr .inner ul .item-placeholder {
  background-color: red;
  height: 3px;
  padding: 0;
  width: 100%;
}
#pagecontent .dashboardMgr .inner ul li {
  display: block;
  padding: 5px 0;
  position: relative;
  box-shadow: inset 0 -1px 0 #dfdfdf;
  font: inherit;
  letter-spacing: 0.1em;
  font-weight: 100;
  text-shadow: 0 0 #000,0 0 #000;
}
#pagecontent .dashboardMgr .inner ul li input.wid {
  padding: 0 5px;
  vertical-align: middle;
  margin: 0;
}
#pagecontent .dashboardMgr .inner ul li.wsort-helper {
  height: 5px;
  background-color: red;
  padding: 0;
}
#pagecontent .dashboardMgr .inner ul li .wname,
#pagecontent .dashboardMgr .inner ul li .wid {
  display: inline-block;
  vertical-align: middle;
}
#pagecontent .dashboardMgr .inner ul li .wname {
  color: #ACACAC;
  font-size: 75%;
}
#pagecontent .dashboardMgr .inner ul li i {
  opacity: 0.5;
  vertical-align: middle;
}
#pagecontent .dashboardMgr .inner ul li i:hover {
  opacity: 1;
}
#pagecontent .dashboardMgr .inner ul li i.icon-remove,
#pagecontent .dashboardMgr .inner ul li i.icon-trash {
  position: absolute;
  right: 0;
  cursor: pointer;
}
#pagecontent .dashboardMgr .inner ul li i.icon-pencil {
  position: absolute;
  right: 22px;
  cursor: pointer;
  top: 3px;
}
#pagecontent .dashboardMgr .inner ul li i.icon-pencil.wi-editName {
  right: 30px;
  top: 4px;
}
#pagecontent .dashboardMgr .inner ul li i.icon-list {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
#pagecontent .dashboardMgr .inner ul li i.icon-cog {
  cursor: pointer;
  right: 16px;
  position: absolute;
}
#pagecontent .dashboardMgr .inner .actions {
  margin-bottom: 20px;
}
#pagecontent .dashboardMgr .collapser-container {
  border-right: 1px solid #AAA;
  position: absolute;
  width: 7px;
  height: 2000px;
  right: 0px;
  top: 0px;
  background: #FFF;
  /*			box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);*/
  cursor: col-resize;
}
#pagecontent .dashboardMgr .collapser-container:hover {
  background-color: #AAA;
}
#pagecontent .dashboardMgr .collapser-container .collapser {
  width: 100%;
  text-align: center;
  line-height: 6px;
  margin-top: 10px;
}
#pagecontent .dashboardMgr .collapser-container .collapser .collapse-dot {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #FFF;
  /*					display:inline-block;*/
  display: none;
  box-shadow: inset -1px -1px 3px -1px rgba(0, 0, 0, 0.3);
}
#pagecontent .w-JarAppActions {
  overflow: visible;
}
.widget-settings .widget-settings-title {
  font-size: 16px;
  font-weight: bold;
}
.widget-settings .validation-error {
  border: 1px solid red;
  box-shadow: 0 0 5px rgba(255, 100, 100, 0.8);
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22%2FUsers%2Fandyperlitch%2Fdt%2Fmalhar%2Ffront%2Fcss%2Fwidgets.less%22%2C%22%2FUsers%2Fandyperlitch%2Fdt%2Fmalhar%2Ffront%2Fcss%2Fvariables.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAEA%3BEACI%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CyBAAA%3B%3BAAEA%2CYAAC%3BEACG%2CmCAAA%3B%3BAANR%2CYASI%3BEACI%2CaAAA%3BEACA%2C0HAAA%3BEACA%2CqBAAA%3BEACA%2CWAAA%3BEACA%2CmBAAA%3BEACA%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CyBAAA%3BEACA%2CkBAAA%3B%3BAAEA%2CYAXJ%2CQAWK%3BEACG%2C%2BIAAA%3B%3BAArBZ%2CYASI%2CQAeI%3BEACI%2C0BAAA%3BEACA%2CoBAAA%3BEAAsB%2CiBAAA%3BEACtB%2CgBAAA%3BEACA%2CcAAA%3BEACA%2CmGAAA%3BEACA%2CyBAAA%3BECuBR%2CmCAAA%3BEACA%2CWAAA%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CmBAAA%3BEACA%2CgBAAA%3B%3BAD1DJ%2CYASI%2CQAeI%2CeASI%2CMAAK%3BEACD%2CaAAA%3BEACA%2CcAAA%3BEACA%2CSAAA%3BEACA%2CYAAA%3BEACA%2CoBAAA%3BEACA%2CuBAAA%3B%3BAAvChB%2CYASI%2CQAeI%2CeAkBI%3BEACI%2CkBAAA%3B%3BAA3ChB%2CYASI%2CQAeI%2CeAqBI%3BEACI%2CWAAA%3BEACA%2CeAAA%3B%3BAA%2FChB%2CYASI%2CQAeI%2CeAyBI%3BAAjDZ%2CYASI%2CQAeI%2CeAyBkB%3BECYzB%2CqBAAA%3BEACG%2CsBAAA%3B%3BAD9DJ%2CYASI%2CQAeI%2CeA4BI%3BEACI%2CYAAA%3B%3BAArDhB%2CYASI%2CQAeI%2CeA4BI%2CcAGI%3BEACI%2CeAAA%3BEACA%2CYAAA%3B%3BAAEA%2CYAlDhB%2CQAeI%2CeA4BI%2CcAGI%2CEAIK%3BEACG%2CUAAA%3B%3BAA5DxB%2CYASI%2CQAyDI%3BEACI%2CYAAA%3B%3BAAnEZ%2CYASI%2CQA6DI%3BEACI%2CkBAAA%3BEACA%2CQAAA%3BEACA%2CMAAA%3BEACA%2CUAAA%3BEACA%2CYAAA%3BEACA%2CiBAAA%3B%3BAA5EZ%2CYASI%2CQAsEI%3BEACI%2CkBAAA%3BEACA%2CSAAA%3BEACA%2COAAA%3BEACA%2CWAAA%3BEACA%2CWAAA%3BEACA%2CiBAAA%3B%3BAArFZ%2CYAwFI%3B%3BEAGI%2CcAAA%3BEACA%2CyBAAA%3B%3BAA5FR%2CYA8FI%3BEACI%2CgBAAA%3BEACA%2CyBAAA%3BEACA%2CgBAAA%3BEACA%2C6BAAA%3BEACA%2C0DAAA%3BEACA%2CmBAAA%3B%3BAApGR%2CYA8FI%2CeAOI%3BEACI%2CkBAAA%3BEACA%2CWAAA%3B%3BAAvGZ%2CYA8FI%2CeAYI%3BEACI%2CgBAAA%3BEACA%2CWAAA%3BEACA%2CgBAAA%3BEACA%2CyBAAA%3BEACA%2C0BAAA%3BEACA%2CsBAAA%3B%3BAAhHZ%2CYA8FI%2CeAYI%2CGAOI%3BEACI%2CaAAA%3BEACA%2CiBAAA%3B%3BAAnHhB%2CYA8FI%2CeAYI%2CGAWI%2CMAAK%3BEACD%2CaAAA%3B%3BAAtHhB%2CYA8FI%2CeAYI%2CGAcI%2CMAAK%3BEACD%2CSAAA%3B%3BAAEJ%2CYA7BR%2CeAYI%2CGAiBK%3BEACG%2CmBAAA%3BEACA%2C2BAAA%3BEACA%2C4BAAA%3B%3BAA9HhB%2CYA8FI%2CeAYI%2CGAsBI%3BEACI%2CYAAA%3B%3BAACA%2CYApCZ%2CeAYI%2CGAsBI%2CEAEK%3BEACG%2CUAAA%3B%3BAAEJ%2CYAvCZ%2CeAYI%2CGAsBI%2CEAKK%3BAAAc%2CYAvC3B%2CeAYI%2CGAsBI%2CEAKoB%3BEACZ%2CUAAA%3BEACA%2CQAAA%3B%3BAAvIpB%2CYA8FI%2CeA8CI%3BEACI%2CYAAA%3BEACA%2CgBAAA%3BEACA%2CgBAAA%3BEACA%2CYAAA%3B%3BAAhJZ%2CYA8FI%2CeAoDI%3BEACI%2CmBAAA%3BEACA%2CkBAAA%3BEACA%2CeAAA%3B%3BAArJZ%2CYA8FI%2CeAoDI%2CYAII%3BEACI%2CYAAA%3B%3BAAGJ%2CYA5DR%2CeAoDI%2CYAQK%2CMACG%3BEAAG%2CUAAA%3B%3BAA3JnB%2CYA8FI%2CeAgEI%3BAA9JR%2CYA8FI%2CeAgEQ%3BEACA%2C4DAAA%3B%3BAA%2FJZ%2CYAkKI%3B%3B%3B%3BEAKI%2CWAAA%3BEACA%2CYAAA%3BEACA%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3B%3BAA3KR%2CYAkKI%2CcAWI%3BEACI%2C0BAAA%3BEACA%2CiBAAA%3B%3B%3BAA%2FKZ%2CYAkKI%2CcAWI%2COAII%3BEC5HR%2CmCAAA%3BEACA%2CWAAA%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CmBAAA%3BEACA%2CgBAAA%3BED0HY%2C6BAAA%3BEACA%2CaAAA%3B%3BAArLhB%2CYAkKI%2CcAWI%2COAYI%3BEACI%2CiBAAA%3B%3BAA1LhB%2CYAkKI%2CcAWI%2COAYI%2CGAGI%3BECnFf%2CqBAAA%3BEACG%2CWAAA%3BEACA%2CUAAA%3BEAEA%2CWAAA%3B%3BAD7GJ%2CYAkKI%2CcAWI%2COAYI%2CGAMI%3BEACI%2CcAAA%3BEACA%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CkCAAA%3BEACA%2CaAAA%3BEACA%2CqBAAA%3BEACA%2CgBAAA%3BEACA%2C8BAAA%3B%3BAAvMpB%2CYAkKI%2CcAWI%2COAYI%2CGAMI%2CGAUI%2CMAAK%3BEACD%2CcAAA%3BEACA%2CsBAAA%3BEACA%2CSAAA%3B%3BAAGJ%2CYA7ChB%2CcAWI%2COAYI%2CGAMI%2CGAgBK%3BEACG%2CWAAA%3BEACA%2CqBAAA%3BEACA%2CUAAA%3B%3BAAlNxB%2CYAkKI%2CcAWI%2COAYI%2CGAMI%2CGAsBI%3BAArNpB%2CYAkKI%2CcAWI%2COAYI%2CGAMI%2CGAoHf%2CCA9F0B%3BEACH%2CqBAAA%3BEACA%2CsBAAA%3B%3BAAvNxB%2CYAkKI%2CcAWI%2COAYI%2CGAMI%2CGA0BI%3BEACI%2CcAAA%3BEACA%2CcAAA%3B%3BAA3NxB%2CYAkKI%2CcAWI%2COAYI%2CGAMI%2CGA8BI%3BEACI%2CYAAA%3BEACA%2CsBAAA%3B%3BAACA%2CYA9DpB%2CcAWI%2COAYI%2CGAMI%2CGA8BI%2CEAGK%3BEACG%2CUAAA%3B%3BAAEJ%2CYAjEpB%2CcAWI%2COAYI%2CGAMI%2CGA8BI%2CEAMK%3BAAAc%2CYAjEnC%2CcAWI%2COAYI%2CGAMI%2CGA8BI%2CEAMoB%3BEACZ%2CkBAAA%3BEACA%2CQAAA%3BEACA%2CeAAA%3B%3BAAEJ%2CYAtEpB%2CcAWI%2COAYI%2CGAMI%2CGA8BI%2CEAWK%3BEACG%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CeAAA%3BEACA%2CQAAA%3B%3BAACA%2CYA3ExB%2CcAWI%2COAYI%2CGAMI%2CGA8BI%2CEAWK%2CYAKI%3BEACG%2CWAAA%3BEACA%2CQAAA%3B%3BAAGR%2CYAhFpB%2CcAWI%2COAYI%2CGAMI%2CGA8BI%2CEAqBK%3BEACG%2CYAAA%3BEACA%2CoBAAA%3BEACA%2CiBAAA%3B%3BAAEJ%2CYArFpB%2CcAWI%2COAYI%2CGAMI%2CGA8BI%2CEA0BK%3BEACG%2CeAAA%3BEACA%2CWAAA%3BEACA%2CkBAAA%3B%3BAA1P5B%2CYAkKI%2CcAWI%2COAkFI%3BEACI%2CmBAAA%3B%3BAAhQhB%2CYAkKI%2CcAiGI%3BEACI%2C4BAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3BEACA%2CcAAA%3BEACA%2CUAAA%3BEACA%2CQAAA%3BEACA%2CgBAAA%3B%3BEAEA%2CkBAAA%3B%3BAAEA%2CYA5GR%2CcAiGI%2CqBAWK%3BEACG%2CsBAAA%3B%3BAA%2FQhB%2CYAkKI%2CcAiGI%2CqBAeI%3BEACI%2CWAAA%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CgBAAA%3B%3BAAtRhB%2CYAkKI%2CcAiGI%2CqBAeI%2CWAKI%3BEACI%2CWAAA%3BEACA%2CUAAA%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3B%3BEAEA%2CaAAA%3BEACA%2CuDAAA%3B%3BAA9RpB%2CYAoSI%3BEACI%2CiBAAA%3B%3BAAIR%2CgBAEI%3BEACI%2CeAAA%3BEACA%2CiBAAA%3B%3BAAJR%2CgBAMI%3BEACI%2CqBAAA%3BEACA%2C4CAAA%22%7D */